.btn-group {
  display: inline-block;
  width: 100%;
  form {
    display: inline-block;
    input {
      width: 75px;
      margin-right: 25px;
    }
  }
}

.top-link {
  font-size: 16px;
}

.container {
  margin-top: 20px;
}
